.navs{
    background-color:darkblue;
    text-align: center;
    color:whitesmoke;
    display: flex;
    justify-content: space-around;  
    /* height: 400px;
    width: 300px; */
    margin: auto;
}
footer{
    background-color: darkblue;
}
.meals{
    padding-right: 75px;
}
li{
    align-items:start ;
    list-style: none;
}
.first ul li{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    
}
.second ul li{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
   color: white;
}
.Third ul li{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    color: red;
    
}
.p{
    color: whitesmoke;
    padding-top: 100px;

margin-left: 100px;

}
.icons{
    font-size: 5%;
    margin-top: 100;
    display:flex;
    justify-content: space-around;
}
